#splash-page {
  background-color: white;
}
#logo {
  background: url('../img/ionic.png') no-repeat transparent;
  width: 128px;
  height: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -64px 0px 0px -64px;
}

.appGrid { list-style: none; padding: 0; margin: 0; z-index:1; width:500px }
.appGrid:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.appGrid li { float: left; width: 33.33333333%; }
.appGrid li a { display: block; margin: 5px; text-decoration:none}
.appGrid li img { display: block; width: 100%; height: auto; }
